.header {
  background-color: rgb(68, 68, 214);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.title {
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}

.listEl {
  list-style-type: none;
  color: white;
  display: flex;
  font-size: 20px;
  text-decoration: none;
  margin: 30px;
}

.header div {
  display: flex;
}

.active {
  color: rgb(176, 176, 246);
}
