.addBtn {
  background-color: blue;
  margin: auto;
  color: white;
  margin-left: 600px;
}

/* .newPasswordContainer {
  display: flex;
} */

.pwForm {
  display: flex;
  background-color: blue;
  margin: 0 auto;
}
