.pwComponentWhole {
  margin: 40px 60px;
  color: #576671;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.pwTitle {
  margin-bottom: 80px;
}

.pwHeadingsContainer {
  display: flex;
  margin-bottom: 10px;
}

.pwHeadingsContainer p {
  margin-right: 200px;
}

.pwContainer hr {
  margin: 0;
  color: #d0d9df;
}

.pwContainer {
  width: 1000px;
}
