.addLoginBtn {
  background-color: #46c3b6;
  border: none;
  width: 80px;
  height: 25px;
  color: white;
  cursor: pointer;
}

.addForm {
  display: flex;
  justify-content: space-between;
}

.input {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  /* width: 250px; */
  padding-bottom: 10px;
  color: #92a3ae;
  /* border-bottom: 1px solid #d0d9df; */
}

.input:focus {
  border-bottom: 1px solid #d0d9df;
  outline: none;
}

.addBtn {
  background-color: #46c3b6;
  border: none;
  width: 80px;
  height: 25px;
  color: white;
  cursor: pointer;
}
