.addLoginBtn {
  background-color: #46c3b6;
  border: none;
  width: 80px;
  height: 25px;
  color: white;
  cursor: pointer;
}

.addForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 800px;
}

.input {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 240px;
  padding-bottom: 10px;
  color: #92a3ae;
  /* border-bottom: 1px solid #d0d9df; */
  margin-right: 10px;
  animation: fadein 1s;
  transition: all 0.3s;
}

.input:focus {
  border-bottom: 1px solid #d0d9df;
  outline: none;
}

.addBtn {
  background-color: #46c3b6;
  border: none;
  width: 80px;
  height: 25px;
  color: white;
  cursor: pointer;
  margin: 0 10px 0 0;
  animation: fadein 1s;
  transition: all 0.3s;
}

.addBtn:hover {
  background-color: #89e3da;
}

.formContainer {
  width: 1000px;
}

.actions {
  display: flex;
}

.delete {
  background-color: #f97a7a;
  margin-left: 10px;
  transition: all 0.3s;
}

.delete:hover {
  background-color: #fbb4b4;
}
