.addLoginBtn {
  background-color: #46c3b6;
  border: none;
  width: 80px;
  height: 25px;
  color: white;
  cursor: pointer;
}

.addForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 800px;
}

.input {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 240px;
  padding-bottom: 10px;
  color: #92a3ae;
  /* border-bottom: 1px solid #d0d9df; */
  margin-right: 10px;
}

.input:focus {
  border-bottom: 1px solid #d0d9df;
  outline: none;
}

.addBtn {
  background-color: #46c3b6;
  border: none;
  width: 80px;
  height: 25px;
  color: white;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.formContainer {
  width: 1000px;
}

.actions {
  display: flex;
}
