.pwHeadingsRegular p {
  /* margin-right: 200px; */
}

.pwHeadingsRegular {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.revealBtn {
  background-color: #46c3b6;
  border: none;
  width: 80px;
  height: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.revealBtn:hover {
  background-color: #89e3da;
}
