.pwComponentWhole {
  margin: 40px 60px;
  color: #576671;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.pwTitle {
  margin-bottom: 80px;
}

.pwHeadingsContainer {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pwHeadingsContainer p {
  /* margin-right: 200px; */
  font-weight: 700;
}

.pwContainer hr {
  margin: 0 0 10px 0;
  color: #d0d9df;
}

.pwContainer {
  width: 1000px;
}
